{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
	Notre CVThèque
{% endblock %}

{% block body %}
	<b>	{{ pagination.getTotalItemCount }} </b> candidats correspondant à votre annonce.
   
<div class="navigation">
	{{ knp_pagination_render(pagination) }}
</div>	
	<div id="TableOffreEmploi" style="width: 100%;">
		<h1>CVThèque <a href="javascript:history.go(-1)" style="float:right;" id='BoutonAnnonce'>Retour</a></h1>
		{% for candidat in pagination %}
			<a href="{{ path('consultCVThequeUser', {'id':candidat.id})}}">
				<div id="OffreEmploi">
			<h2>{{ candidat.nom| truncate(3)|upper }} {{ candidat.prenom }}</h2>
			<p style="font-size: 15px;">{{ candidat.codePostal }}</p>
				
			</div></a>
	{% endfor %}
</div>	
<div class="navigation">
	{{ knp_pagination_render(pagination) }}
</div>		

	
	
{% endblock %}