{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
	Notre CVThèque
{% endblock %}

{% block body %}
	<div id="TriOffre">
		{{ form(form)}}
	</div>
   
<div class="navigation">
	{{ knp_pagination_render(pagination) }}
</div>	
	<div id="TableOffreEmploi">
		<h1>CVThèque</h1>
		{% for candidat in pagination %}
			<a href="{{ path('consultCVTheque', {'id':candidat.id})}}">
				<div id="OffreEmploi">
			<h2>{{ candidat.nom| truncate(3)|upper }} {{ candidat.prenom }}</h2>
			<p style="font-size: 15px;">{{ candidat.codePostal }}</p>
				
			</div></a>
	{% endfor %}
</div>	
<div class="navigation">
	{{ knp_pagination_render(pagination) }}
</div>		

	
	
{% endblock %}