{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
	Nos offres d'emploi
{% endblock %}

{% block body %}
	<div id="TriOffre">
	{{ form(form)}}
	</div>
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>	
		Nombre total des annonces : <b>{{ pagination.getTotalItemCount }}</b>
<div id="TableOffreEmploi">
	{% for annonce in pagination %}
		{% if annonce.New == 1 %}
			<a href="{{ path('detail_offreEmploiNew',{'id': annonce.id})}}">
		{% else %}
			<a href="{{ path('detail_offreEmploi',{'id': annonce.id})}}">
		{% endif %}	
		<div id="OffreEmploi">
			{% if annonce.premium == 1 %}
				<h2 style="color:red;">{{ annonce.TitreAnnonce|upper}}</h2>
			{% else %}
				<h2 >{{ annonce.TitreAnnonce|upper}}</h2>
			{% endif %}	
			<p style="font-size: 15px;">{{ annonce.DescriptifAnnonce|truncate(200)}}</br><b>{{ annonce.idDepartement}}</b></p>
			
		</div>	
	</a>	
	{% endfor %}
</div>	
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>	
{% endblock %}



