{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
	Inscription
{% endblock %}

{% block body %}
	
	<table id="InscriptionT2">
		<tr><th COLSPAN="2">Inscription</th></tr>
		<tr>
			<td id = "JeSuisRecruteur">
				<a href="{{path('user_two_registration')}}" id = "JeSuisCandidatInf">
					{% image 'bundles/app/img/Candidat.png' %}
						<img src="{{ asset_url }}" />
					{% endimage %}
					Je suis recruteur</a>
			</td>
			<td id = "JeSuisEmployeur">
				<a href="{{ path('user_three_registration') }}" id = "JeSuisEmployeurInf">
					{% image 'bundles/app/img/Employeur.png' %}
						<img src="{{ asset_url }}" />
					{% endimage %}
					Je suis employeur</a> 
			</td>
		</tr>
		<tr>
			<td COLSPAN="2"><a href="{{ path('fos_user_security_login') }}">Déjà inscrit ?</a> </td>
		</tr>	
	</table>	
{% endblock %}
