{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
	Recrutic
{% endblock %}

{% block body %}
	<table id="Fonctiontri">
		<tr><th>Recherche par site ? </th></tr>
		<tr><td>{{ form(form2) }}</td></tr>
	</table>
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
	Nombre total fonction : {{ pagination.getTotalItemCount }}
	<table id="TableCandidat">
		<tr>
			<th>Id</th>
			<th>Intitule</th>
			<th>Site</th>
			<th>Gestion</th>
		</tr>
		{% for fonction in pagination %}
			{% set i = 0%}
		<tr>
			<td>{{ fonction.id }}</td>
			<td>
				{{ fonction.IntituleFonction }} 
				{% for a in annonce %}
					{% if a.idFonction.intituleFonction == fonction.IntituleFonction %}
						{% set i = i+1%}
					{% endif %}
				{% endfor %}
				<a href="{{ path('admin_fonction_annonce', {'id':fonction.id})}}" style='color:blue;'>( {{ i }} )</a>
			</td>
			<td> {{ fonction.idSiteEmploi.intitulesiteemploi}}</td>
			<td><a href="{{ path('admin_fonction_delete', {'id':fonction.id})}}" onclick="return confirm('Voulez vous vraiment supprimer cette fonction ? {{ fonction.IntituleFonction }} - {{ fonction.idSiteEmploi.intitulesiteemploi }}')">
											{% image 'bundles/app/img/Supprimer.png' %}
											<img src="{{ asset_url }}" alt="Supprimer" id="CVThequeImg"/>
											{% endimage %}</a>
											<a href="{{ path('admin_fonction_modif', {'id':fonction.id})}}">
										{% image 'bundles/app/img/Modifier.jpg' %}
											<img src="{{ asset_url }}" alt="Modifier" id="CVThequeImg"/>
										{% endimage %}</a>
			</td>
		</tr>
		{% endfor %}
	</table>
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
	<table id="AjoutFonction">
		<tr><th>Ajouter une fonction</th></tr>
		<tr><td>{{ form(form)}}</td></tr>
	</table>
{% endblock %}