{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
	Recrutic
{% endblock %}

{% block body %}

		{{ form(form)}}
		

	{{ form(form2)}}
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
	Nombre total annonces : {{ pagination.getTotalItemCount }}
	<table>
	{% for annonce in pagination %}
		<table id="Admin" >
			{{ include("OCPlatformBundle:AdvertNew:AffichageAnnonce.html.twig") }}
		</table>
		<div class="hr"><hr /></div>
		{% endfor %}
	</table>
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
{% endblock %}

