{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
	Recrutic
{% endblock %}

{% block body %}
	
	{% for annonce in pagination %}
	
	<div id="ModifAnnonce">
		
		
		
	<div class="navigation">
		{{ knp_pagination_render(pagination) }}
	</div>
	<h1>{% if annonce.premium == 1 %}
				{% image 'bundles/app/img/Premium.png' %}
					<img src="{{ asset_url }}" style="width: 10%;"/>
				{% endimage %}
		{% endif %}
				Modification de l'offre - {{ annonce.id }}
		<a href="{{ url }}"><input type="submit" value="Retour" id="BoutonAnnonce"></a>
	{% if app.user.type == "Admin" %}	 
		
			{{ include("OCPlatformBundle:Advert:FonctionAnnonce.html.twig") }}
			
		
	{% endif %}
	</h1>
		{{ render(controller("OCPlatformBundle:Advert:modif",{'id':annonce.id})) }}
	{% endfor %}	 

	</div>

	
{% endblock %}