{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
	Modifier une annonce
{% endblock %}

{% block body %}
	
	{% for annonce in pagination %}
	<div id="ModifAnnonce">
		
	<div class="navigation" style="font-size: 150%;">
		{{ knp_pagination_render(pagination) }}
	</div>
	<h1>	{% if annonce.premium == 1 %}
				{% image 'bundles/app/img/Premium.png' %}
					<img src="{{ asset_url }}" style="width: 10%;"/>
				{% endimage %}
		{% endif %}
	Modification de l'offre - {{ annonce.id }}
			<a href="{{ url }}"><input type="submit" value="Retour" id="BoutonAnnonce"></a>
		{% if app.user.type == "Admin" %}	 
			
			{{ include("OCPlatformBundle:AdvertNew:FonctionAnnonce.html.twig") }}
		{% endif %}</h1>
		{{ render(controller("OCPlatformBundle:NewAdvert:modif",{'id':annonce.id})) }}
	{% endfor %}	 

	</div>



	
{% endblock %}