{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
	Mes candidatures
{% endblock %}

{% block body %}
	
			<table id="ConsultCVTheque">
				<tr>
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						{% if app.user.type == "Admin" %}
					<th>{{ candidat.nom}} {{ candidat.prenom }} <a href=javascript:history.go(-1)><input type="submit" value="Retour" id="BoutonAnnonce"></a>			</th>
						{% else %}
					<th>{{ candidat.nom| truncate(3)}} {{ candidat.prenom }} <a href="{{ path('CVtheque') }}"><input type="submit" value="Retour" id="BoutonAnnonce"></a>			</th>
						{% endif %}
					{% else %}
					<th>{{ candidat.nom| truncate(3)}} {{ candidat.prenom }} <a href="{{ path('CVtheque') }}"><input type="submit" value="Retour" id="BoutonAnnonce"></a>			</th>
					{% endif %}		
				</tr>
				<tr>
					<td>
						{% if candidat.annonce is not empty  %}
								A répondu aux annonces : 
							<ul>
							{% for annonce in candidat.annonce|slice(0, 5) %}
								<li><b>{{ annonce.TitreAnnonce}}</b> ayant comme compétence demandée <b>{% for fonction in annonce.fonction %}{{ fonction.idFonction }} {% endfor %}</b> dans le <b>{{ annonce.idDepartement }}</b>
							{% endfor %}
							</ul>
						{% else %}
							Possède les compétences suivantes :
							<ul>
								{% for fonction in candidat.fonction %}
									<li><b>{{ fonction.intitulefonction }}</b></li>
								{% endfor %}
							</ul>
						{% endif %}
					</td>
				</tr>	
			</table>
				
{% endblock %}