<tr>
	{% if annonce.suspension == -1 %}
		<th style="background-color: rgb(242,128,179)" COLSPAN=2>
	{% elseif annonce.suspension == 10 %}
		<th style="background-color: rgb(224,234,137)" COLSPAN=2 >
	{% else %}
		<th style="background-color: rgb(195,195,195)" COLSPAN=2>
	{% endif %}
			<p id="Titre">{{ annonce.datecreation|date('d/m/Y') }}</p></br>
			<p id="TitreAnnonceAdmin">{{ annonce.TitreAnnonce|upper}}</br>
			{{ annonce.GrandeVilleProche }} ({{ annonce.idDepartement }})</p>
			{% if annonce.premium == 1 %}
				{% image 'bundles/app/img/Premium.png' %}
					<img src="{{ asset_url }}" style="width: 10%"/>
				{% endimage %}
			{% endif %}
	</th>
	<th>
	{% for site in annonce.site %} 
		{{ include("OCPlatformBundle:Advert:ImageSite.html.twig") }}
	{% endfor %}
		
		
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		{% if annonce.idRecruteur is not empty %}
			{% if app.user.id == annonce.idRecruteur.id and app.user.type != "Admin"%}
				<a href="{{ path('admin_modif_syannonce',{'idAnnonce':annonce.id})}}" id='BoutonAnnonce'>Modifier</a>
				{% if annonce.suspension != 11 %}
					<a href="{{ path('annonce_sus_user',{'id':annonce.id})}}" id='BoutonAnnonce'>Suspendre</a>
				{% else %}
					<a href="{{ path('annonce_desus_user',{'id':annonce.id})}}" id='BoutonAnnonce'>Ne plus suspendre</a>
				{% endif %}
					<a href="{{ path('deleteSyAnnonce',{'idAnnonce':annonce.id})}}" style="background-color: red;color:white" id='BoutonAnnonce' onclick="return confirm('Voulez vous vraiment supprimer cette annonce?')">Supprimer</a>
			{% endif %}		
		{% else %}	
			{% if  app.user.id == annonce.idEmployeur.id %}
				<a href="{{ path('admin_modif_syannonce',{'idAnnonce':annonce.id})}}" id='BoutonAnnonce'>Modifier</a> 
				{% if annonce.suspension != 11 %}
					<a href="{{ path('annonce_sus_user',{'id':annonce.id})}}" id='BoutonAnnonce'>Suspendre</a>
				{% else %}
					<a href="{{ path('annonce_desus_user',{'id':annonce.id})}}" id='BoutonAnnonce'>Ne plus suspendre</a>
				{% endif %}
					<a href="{{ path('deleteSyAnnonce',{'idAnnonce':annonce.id})}}" style="background-color: red;color:white" id='BoutonAnnonce' onclick="return confirm('Voulez vous vraiment supprimer cette annonce?')">Supprimer</a>
			{% endif %}
		{% endif %}
		{% if app.user.type == "Admin" %}	
			<a href="{{ path('admin_modif_syannonce',{'idAnnonce':annonce.id}) }}">
			<input type="submit" value="Modifier" id="BoutonAnnonce"></a>
			{{ include("OCPlatformBundle:AdvertNew:FonctionAnnonce.html.twig") }}
		{% endif %}
	{% endif %}

	</th>
</tr>
<tr>
	<td COLSPAN=3><b><p id="TitrePetit">Le poste (ref: {{annonce.id}}) :  </p></b>{{ annonce.DescriptifAnnonce }}</td>
</tr>
<tr>
	<td COLSPAN=3><b><p id="TitrePetit">Profil recherché :  </p></b>{{ annonce.ProfilRecherche }}</td>
</tr>
<tr>
	<td><b><p id="TitrePetit">Niveau :  </p></b>{{ annonce.idNiveauSouhaite }}</td>
	<td COLSPAN=2><b><p id="TitrePetit">Recruteur :  </p></b>{% if annonce.idRecruteur == null %}{{ annonce.idEmployeur }}{% else %}{{ annonce.idRecruteur }}{% endif %}</td>
</tr>
<tr>
	<td><b><p id="TitrePetit">Rémunération :   </p></b>{{ annonce.Remuneration }}</td>
	<td COLSPAN=2><b><p id="TitrePetit">Avantage :   </p></b>{{ annonce.avantage }}</td>
</tr>
<tr>
	<td><b><p id="TitrePetit">Horaire :   </p></b>{{ annonce.idHoraire }}</td>
	<td><b><p id="TitrePetit">Contrat :   </p></b>{{ annonce.idTypecontrat }}</td>
	<td><b><p id="TitrePetit">NbHeure :   </p></b>{{ annonce.nbHeure }}</td>
</tr>
<tr>
	<td colspan = 2><b><p id="TitrePetit">Fonction :   </p></b>
			{% for fonction in annonce.site %}
				{{ fonction.idFonction }}
			{% endfor %}</td>
	<td><b><p id="TitrePetit">Référence :   </p></b> {{ annonce.reference }}</td>
</tr>